{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}

<p style="text-align: center">{% trans "Connect an exchange" %}
<p style="text-align: center">{% blocktrans %}We will receive access to your trading history, balance, and have
  permission to
  place orders on your exchange account. <br>
  Dexima will not have permission to withdraw or transfer your funds.{% endblocktrans %}</p>
<p>{% trans "Api Guide" %}</p>
<ul>
  {% blocktrans %}
  <li><a
    href="https://www.binance.com/uk-UA/support/faq/%D1%8F%D0%BA-%D1%81%D1%82%D0%B2%D0%BE%D1%80%D0%B8%D1%82%D0%B8-api-%D0%BA%D0%BB%D1%8E%D1%87%D1%96-%D0%BD%D0%B0-binance-360002502072">
    Binance api connection guide</a>
  </li>
  <li>Select API Management from the user menu in the upper-right corner.</li>
  <li>Enter a name for your API and press Create API.</li>
  <li>Your API Key and Secret Key appears.</li>
  <li>Copy both the API Key and Secret Key and store in a safe place.</li>
  {% endblocktrans %}
</ul>
{#  <a href="{% url 'main_service:binance_guide' %}?next={{ request.path }}">{% trans "Photo Guide" %}</a>#}
<form id="apiForm" method="post" action="{% url 'main_service:trading_description' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if not binance_keys_saved %}
  <div class="error-message-trading-description">
    {% if ex %}
    {% if ex == -1022 %}
    <p class="center-content">"Invalid API or secret keys."</p>
    {% elif ex == -2015 %}
    <p class="message-ip-error-style">
      &nbsp;&nbsp;This error occurs when the types of operations that ATS will perform are not allowed in the
      permissions of your API key, or the IP address from which you run ATS is not in the white list of API
      key settings on your exchange account. Please use the guide for adding an IP address to the list
      of allowed or the guide for permissions for certain transactions with your account on the exchange.

      <br><a href="#">*How to find out the IP address from which you run ATS?</a>
      <br><a href="#">*How to add an IP address to the list of allowed for my API keys?</a>
      <br><a href="#">*How to add permissions for account operations?</a>
    </p>
    {% endif %}
    {% endif %}
  </div>
  <div class="text_align_last">

    <label>
      <input type="text" id="api_key" name="api_key" required placeholder="{% trans " Enter your API key" %}">

      <input type="text" id="api_secret" name="api_secret" required
             placeholder="{% trans " Enter your Secret key" %}">
      <br>
      <input type="submit" class="btn btn-main btn-main-white" value={% trans "Save" %}>
    </label>
  </div>

  {% else %}
  {% if not bot_started %}
  <div class="text_align_last">

    <p>Your permissions:</p>
    {% if binance_permissions %}
    <p style="color: green">{% trans "API and SECRET keys successfully saved." %}</p><br>
    {% for permission in binance_permissions %}
    <label><span>{{ permission }}</span></label><br>
    {% endfor %}
    <a href="{% url 'main_service:ai_optimizer' %}"
       class="btn btn-main btn-main-white">
      {% trans "Quick start" %}
    </a>
    <a href="{% url 'main_service:dashboard' %}"
       class="btn btn-main btn-main-white">
      {% trans "Dashboard" %}
    </a>
    {% elif not binance_permissions %}
    <p>You have no permissions, check Photo Guide and try again</p>
    <button type="submit" class="btn btn-main btn-main-white" name="check_permissions_again">Try again
    </button>
    {% endif %}

  </div>
  {% else %}
  <div class="text_align_last">
    <p style="color: green">{% trans "Bot Successfully created!" %}</p>
    <p>{% trans "You can check detail information, and start bot in your Trading Bot Dashboard" %}</p>
    <a href="{% url 'main_service:dashboard' %}?next={{ request.path }}">{% trans "Trading Bot Dashboard" %}</a><br>
  </div>
  {% endif %}
  {% endif %}
</form>
<br>
<style>
  input#api_key {
    margin-bottom: 10px;
  }
</style>
<script>
  // Define the expected length of API key and Secret key
  const expectedApiKeyLength = 6; // Change this to the actual length
  const expectedSecretKeyLength = 6; // Change this to the actual length

  // Function to validate the keys
  function validateKeys() {
    const apiKey = document.getElementById('api_key').value;
    const secretKey = document.getElementById('api_secret').value;

    if (apiKey.length < expectedApiKeyLength || secretKey.length < expectedSecretKeyLength) {
      alert('API key and Secret key must be ' + expectedApiKeyLength + ' and ' + expectedSecretKeyLength + ' characters long, respectively.');

      // Optionally, you can clear the input fields
      document.getElementById('api_key').value = '';
      document.getElementById('api_secret').value = '';

      return false;
    }

    // Submit the form if the keys are valid
    document.getElementById('apiForm').submit();
  }

  // Add an event listener to the form's submit button
  document.querySelector('#apiForm input[type="submit"]').addEventListener('click', function (event) {
    event.preventDefault(); // Prevent the default form submission
    validateKeys(); // Call the validation function
  });
</script>
{% endblock %}
