{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<style>
  .profile-menu-buttons > button {
    background-color: rgb(197 234 247) !important;
  }

  .user-info-content-style {
    background-color: rgb(197 234 247) !important;
    color: black;
  }

  .wrapper {
    min-height: 800px;
  }

  /* Styles for the modal */
  #changePassword.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 7%; /* Center the modal vertically */
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  /* Style the modal content */
  #changePassword .modal-content {
    background-color: #fefefe;
    margin: 0 auto; /* Center the modal horizontally */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%; /* Adjust the width as needed */
  }

  /* Style the close button */
  #changePassword .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  #changePassword .close:hover,
  #changePassword .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Style the form elements */
  #changePassword label {
    display: block;
    margin-bottom: 5px;
  }

  input#currentPassword {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  input#newPassword {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  #changePassword input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  #changePassword button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #changePassword button[type="submit"]:hover {
    background-color: #0056b3;
  }

  #changePassword a {
    display: block;
    text-align: right;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
  }

  #changePassword a:hover {
    text-decoration: underline;
  }


  /* Кнопка закрытия модального окна */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .profile-button {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-width: 167px;
    min-height: 50px;
  }

  .profile-menu-buttons {
    display: flex;
  }

  .user-info-content-style, .user-status-content-style, .user-billing-content-style {
    min-height: 300px;

    font-weight: 700;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .name-box {
    min-width: 100px;
    min-height: 50px;
    border: solid 2px black;
  }

  .profile-main-styles {
    width: 100%; /* Делаем ширину адаптивной */
    max-width: 500px; /* Максимальная ширина для больших экранов */
    min-width: 0; /* Убираем минимальную ширину, чтобы не было конфликта на маленьких экранах */
  }

  .info-name {
    display: flex;
    width: 94%;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 20px;
  }


  .name-box {
    min-width: 253px;
    min-height: 27px;
    border: solid 2px black;
  }

  div#user-info-content, div#user-status-content, div#user-billing-content {
    margin-top: 6px;
  }

  .change-button {
    border: solid 1px blue;
    color: blue;
    position: relative;
    top: 2px;
    font-size: 12px;
  }

  .switch-btn {
    display: inline-block;
    width: 50px;
    height: 20px;
    border-radius: 19px;
    background: linear-gradient(to right, #7f7f7f 0, #bfbfbf 40%, #7fd03e 60%, #118c4e 100%);
    background-size: 180px 100%;
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms;
    margin-left: 10px;
    top: 5px;
  }

  .switch-btn::after {
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 17px;
    background: #fff;
    top: 2px;
    left: 3px;
    transition-duration: 300ms;
    position: absolute;
    z-index: 1;
  }

  .switch-on {
    background-position-x: -100px;
  }

  .switch-on::after {
    left: 32px;
  }

  .two-fa {
    margin-left: 4px;
    position: relative;
    bottom: -3px;
  }

  #status-table td {
    height: 50px;
    width: 94px;
    text-align: center;
  }

  #status-table {
    border-collapse: collapse;
    width: 100%;
  }

  .bordered-table td, .bordered-table th {
    border: 1px solid #dddddd; /* Default border color */
    padding: 8px; /* Padding inside cells */
    text-align: left;
  }

  .bordered-table th {
    background-color: #f2f2f2; /* Background color for header cells */
  }

  /* Custom border style */
  .custom-border {
    border: 2px solid red; /* Custom border color and thickness */
    border-radius: 8px; /* Rounded corners */
  }

  .user-status-content-style {
    /* Add any additional styling for the container */
  }

  .statuses-table {
    width: 100%;
    border-collapse: collapse;
  }

  .statuses-table td, .statuses-table th {
    border: 1px solid #dddddd; /* Default border color */
    padding: 4.4px; /* Padding inside cells */
    text-align: left;
  }

  .statuses-table th {
    background-color: #f2f2f2; /* Background color for header cells */
    text-align-last: center;
  }

  /* Custom border style */
  .custom-border {
    border-radius: 8px; /* Rounded corners */
  }

  /* Медиа запрос для экранов меньше 500px */
  @media screen and (max-width: 500px) {
    .profile-main-styles {
      max-width: 100%; /* Для маленьких экранов делаем блок на всю ширину */
      min-height: auto; /* Минимальная высота auto, если нужно */
    }

    .profile-button {
      min-width: 128px;
    }

  }
</style>
<div id="mountElem" class="center-content">
  <br>
  <h1>API KEYS</h1>
  <div class="profile-main-styles">
    <div class="profile-menu-buttons">
      <button type="submit" id="binance-button" class="profile-button">Binance</button>
      <button type="submit" id="bybit-button" class="profile-button">Bybit</button>
    </div>
    <div id="binance-content" class="user-info-content-style">
      <div class="status-container">
        <div class="statuses-table">
          {% if binance_api_key %}
          Binance
          <div class="info-name">
            <span class="name">Your Api key</span>
            <span class="name-box">{{ binance_api_key }}</span>
          </div>
          Put your new Api keys
          <br>
          <br>
          <form id="newBinanceApiForm" method="post" action="{% url 'main_service:change_api_keys' %}">
            {% csrf_token %}
            <div class="info-name">
              <span class="name">Api Key</span>
              <span class="name-box"><input id="new_binance_api_key" name="new_binance_api_key"
                                            style="max-width: 250px; width: 250px"></span>
            </div>
            <div class="info-name">
              <span class="name">Secret Key</span>
              <span class="name-box"><input id="new_binance_secret_key" name="new_binance_secret_key" type="password"
                                            style="max-width: 250px; width: 250px"></span>
            </div>
            <div class="info-name">
              <span class="name">*For saving new api keys push button</span>
              <input type="submit" class="btn btn-main btn-main-white" value={% trans "Save" %}>
              <!--?              <span><button type="submit" style="color: green" class="keys-save">SAVE</button></span>-->
            </div>
          </form>
          {% else %}
          <p> You don't have Binance keys</p>
          {% endif %}
        </div>
      </div>
    </div>

    <div id="bybit-content" class="user-info-content-style">
      <div class="status-container">
        <div class="statuses-table">
          {% if bybit_api_key %}
          Bybit
          <div class="info-name">
            <span class="name">Your Api key</span>
            <span class="name-box">{{ bybit_api_key }}</span>
          </div>
          Put your new Api keys
          <br>
          <br>
          <form id="newBybitApiForm" method="post" action="{% url 'main_service:change_api_keys' %}">
            {% csrf_token %}
            <div class="info-name">
              <span class="name">Api Key</span>
              <span class="name-box"><input id="new_bybit_api_key" name="new_bybit_api_key"
                                            style="max-width: 250px; width: 250px"></span>
            </div>
            <div class="info-name">
              <span class="name">Secret Key</span>
              <span class="name-box"><input id="new_bybit_secret_key" name="new_bybit_secret_key" type="password"
                                            style="max-width: 250px; width: 250px"></span>
            </div>
            <div class="info-name">
              <span class="name">*For saving new api keys push button</span>
              <input type="submit" class="btn btn-main btn-main-white" value={% trans "Save" %}>
              <!--?              <span><button type="submit" style="color: green" class="keys-save">SAVE</button></span>-->
            </div>
          </form>
          {% else %}
          <p> You don't have Bybit keys</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
        const expectedApiKeyLength = 6; // Change this to the actual length
        const expectedSecretKeyLength = 6; // Change this to the actual length
        // Получение ссылок на элементы
        var BinanceButton = document.getElementById("binance-button");
        var BybitButton = document.getElementById("bybit-button");
        var BinanceContent = document.getElementById("binance-content");
        var BybitContent = document.getElementById("bybit-content");

        if (BinanceButton && BinanceContent) {
          BinanceContent.style.display = "block";

          BinanceButton.addEventListener("click", function () {
            BinanceContent.style.display = "block";
            BybitContent.style.display = "none";

            BybitButton.classList.add("inactive-button")
            BinanceButton.classList.remove("inactive-button")
          });
        }

        if (BybitButton && BybitContent) {
          BybitContent.style.display = "none";

          BybitButton.addEventListener("click", function () {
            BinanceContent.style.display = "none";
            BybitContent.style.display = "block";

            BinanceButton.classList.add("inactive-button")
            BybitButton.classList.remove("inactive-button")
          });
        }

        // Функция валидации ключей Bybit
        function validateBybitKeys() {
          const bybitApiKey = document.getElementById('new_bybit_api_key').value;
          const bybitSecretKey = document.getElementById('new_bybit_secret_key').value;
          if (bybitApiKey.length < expectedApiKeyLength || bybitSecretKey.length < expectedSecretKeyLength) {
            alert('API key and Secret key must be ' + expectedApiKeyLength + ' and ' + expectedSecretKeyLength + ' characters long, respectively.');

            // Optionally, you can clear the input fields
            document.getElementById('new_bybit_api_key').value = '';
            document.getElementById('new_bybit_secret_key').value = '';

            return false;
          }
          // Submit the form if the keys are valid
          document.getElementById('newBybitApiForm').submit();
        }

        // Функция валидации ключей Binance
        function validateBinanceKeys() {
          const binanceApiKey = document.getElementById('new_binance_api_key').value;
          const binanceSecretKey = document.getElementById('new_binance_secret_key').value;
          if (binanceApiKey.length < expectedApiKeyLength || binanceSecretKey.length < expectedSecretKeyLength) {
            alert('API key and Secret key must be ' + expectedApiKeyLength + ' and ' + expectedSecretKeyLength + ' characters long, respectively.');

            // Optionally, you can clear the input fields
            document.getElementById('new_binance_api_key').value = '';
            document.getElementById('new_binance_secret_key').value = '';

            return false;
          }
          // Submit the form if the keys are valid
          document.getElementById('newBinanceApiForm').submit();
        }

        // Добавление обработчиков событий только если формы и кнопки существуют
        const bybitForm = document.getElementById('newBybitApiForm');
        if (bybitForm) {
          bybitForm.querySelector('input[type="submit"]').addEventListener('click', function (event) {
            event.preventDefault(); // Предотвращение стандартной отправки формы
            validateBybitKeys(); // Вызов функции валидации
          });
        }

        const binanceForm = document.getElementById('newBinanceApiForm');
        if (binanceForm) {
          binanceForm.querySelector('input[type="submit"]').addEventListener('click', function (event) {
            event.preventDefault(); // Предотвращение стандартной отправки формы
            validateBinanceKeys(); // Вызов функции валидации
          });
        }
      }
  )
  ;
</script>

{% endblock %}