{% extends "base.html" %}

{% block content %}
  <div class="center-content">
    <p>
      Interactive Brokers trading platform
    </p>
    <p>
      Interactive Brokers LLC (IB) is an American multinational brokerage firm. It operates the largest electronic
      trading platform in the United States by number of daily average revenue trades. The company brokers stocks,
      options, futures, EFPs, futures options, forex, bonds, funds, and some cryptocurrencies.
    </p>
    <p>
      Select the desired ticker for trading:
    </p>

    <p>
      Choose a strategy for optimization for backtesting:
    </p>


  </div>
{% endblock %}
