<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Privacy Policy</title>
</head>
<style>
    .documents-container {
        width: 100%;
    }

    .documents-style {
        width: 90%;
        margin: 0 auto;
    }
</style>
<body>
<div class="documents-container">
  <div class="documents-style">
    <p>Please read this <strong>Privacy Policy</strong> carefully. This <strong>Privacy Policy</strong> of <strong>Dexima
      Software LLC</strong> is developed in accordance with the best market practice with regard to the processing of
      personal data. <strong>Dexima Software LLC</strong> understands the importance of maintaining the privacy of your
      personal information. By entrusting <strong>Dexima Software LLC</strong> with your personal information, the
      company
      would like to assure you of our commitment to keeping it private.</p>

    <p>If you decide to apply to open an account with <strong>Dexima Software LLC</strong>, there is certain information
      that we will require from you in order to do so. This information includes, but is not limited to personal details
      such as name, address, date of birth, contact details, and other necessary financial and personal identification
      information.</p>

    <p>From time to time, <strong>Dexima Software LLC</strong> may also request further information to improve its
      service
      to you. <strong>Dexima Software LLC</strong> obtains most of the information directly from you through application
      or
      other forms, and from maintaining records of information provided in the course of ongoing customer service.</p>

    <!-- More paragraphs... -->

    <p>If you open an account with us, you will need to use our trading software which enables us to use cookies in
      relation
      to your access to this website. The Services are provided exclusively to Persons of at least 18 years or older.
      Using
      the Services, the User confirms that he/she has reached the age of 18.</p>

    <p>By registering the Account, the User represents and warrants that he/she is neither a citizen nor a resident of
      the
      following countries: <strong>Afghanistan, American Samoa, U.S. Virgin Islands, Territory of Guam, Iran, Yemen,
        Libya,
        State of Palestine, Puerto Rico, Somalia, the Democratic People’s Republic of Korea, The Northern Mariana
        Islands,
        USA, Syria, Russian Federation, Republic of Belarus, Republic of Sudan, Transnistria, temporarily occupied
        territories of Georgia, Turkish Republic of Northern Cyprus, Western Sahara, Federal Republic of Ambazonia,
        Kosovo,
        South Sudan, Canada, Nicaragua, Trinidad and Tobago, Venezuela, Myanmar, and temporarily occupied territories of
        Ukraine.</strong></p>

    <!-- More paragraphs... -->

    <p><strong>Cookies</strong> are small files of information, which often include a unique identification number or
      value,
      which are stored on your computer’s hard drive as a result of you using this trading software and accessing this
      website. The purpose of this information is to provide you with a more relevant and effective experience on this
      website, including presenting web pages according to your needs or preferences.</p>

    <p><strong>Cookies</strong> are frequently used on many websites on the internet and you can choose if and how a
      cookie
      will be accepted by changing your preferences and options in your browser. You may not be able to access some
      parts
      of
      this site if you choose to disable the cookie acceptance in your browser, particularly the secure parts of the
      website. We therefore recommend you enable cookie acceptance to benefit from all the services on the website.</p>
  </div>
</div>
</body>
</html>