<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Risk Disclaimer</title>
  {% load static %}
</head>
<style>
    .documents-container {
        width: 100%;
    }

    .documents-style {
        width: 90%;
        margin: 0 auto;
    }
</style>
<body>
<div class="documents-container">
  <div class="documents-style">
    <p><strong>Dexima Software LLC Products Risk Disclaimer</strong></p>

    <p>In this notice, we provide you with information which will help you to understand the nature and risks of trading
      products and services. This Disclaimer does not disclose all the risks and other significant aspects of Spot,
      Futures
      or Option trading at Crypto, Stock, Forex or Commodity markets. You should not engage in our products unless you
      understand the nature of the Over The Counter (OTC) Derivative trading, how it works, how you make a profit or
      loss
      and the extent of your exposure to risk and loss. If you are in any doubt, you should seek professional
      advice.</p>

    <p>Please be advised that financial software instruments offered by <strong>Dexima Software LLC</strong> may not be
      suitable or appropriate for many clients. <strong>Dexima Software LLC</strong> develops trading strategies and
      software which do not guarantee profit or saving of invested money, but just ensure setting of strategy and
      automating
      trading activities.</p>

    <p>Our service does not have access to functions such as transfer of funds, withdrawal or deposit. You should deal
      with
      us at your own risk and shall not be protected by any statutory compensation agreements in any events
      whatsoever.</p>

    <p>When engaging in OTC derivative trading you are placing trades in relation to movements of prices set by platform
      you
      connect. We do not take any responsibility for investment decisions and for eventual losses made under the
      influence
      of the information received from us. All trading Instructions placed by the Client are Client’s independent
      investment
      decisions. The Client should always base his investment decisions on his own judgment.</p>

  </div>
</div>
</body>
</html>